{{template "header" .}}

    <section>
    <div class = container>
    <fieldset>
        <legend> Select URLs </legend>
        <form action = "" method = "">
        <div class="form-group mb-2 mr-sm-2">
            <label for="URLs">URLs list:</label>
            <select class="form-control" id = "domain-name" name = "domain-list" onclick = "custom_domain()" >
                <option>https://51talkus.com/online-jobs/Alabama/Childersburg/35044/2115406/3</option>
                <option>http://www.tutree.com/online-jobs/Alabama/Montgomery/36117/2115890/1</option>
                <option>http://www.givearide.us/open-positions/Alabama/Harvest/35749/2115716/14</option>
                <option>https://chaufferus.us/open-positions/Illinois/Chicago/60629/3127090/237</option>
                <option>https://chaufferjob.us/open-positions/Illinois/Chicago/60629/3127090/237</option>
                <option>https://driverus.us/open-positions/Illinois/Chicago/60629/3127090/237</option>
                <option>https://driveus.us/open-positions/Illinois/Chicago/60629/3127090/237</option>
                <option>https://ownboss.us/open-positions/Illinois/Chicago/60629/3127090/237</option>
                <option>https://driverjob.us/open-positions/Illinois/Chicago/60629/3127090/237</option>
                <option>http://rouchi.us/online-jobs/Texas/Needville/77461/134665/57</option>
                <option>http://delivery.givearide.us/open-positions/California/Berkeley/94704/140689/1001</option>
                <option>http://sprout4future.us/online-jobs/Alabama/Montgomery/36117/2115890/215</option>
		        <option>http://qkids.co/online-jobs/Alabama/Montgomery/36111/115884/57</option>
            </select>
            <div>
            <input type = "text" placeholder = "custom-domain" id = "custom-domain-text-field" name = custom-domain>
                <script>
                function custom_domain() {          
                    var custom = document.getElementById("domain-name").value;
                    document.getElementById("custom-domain-text-field").value = custom;
                    }
                </script>
            </div>
            </div>

<!--
we need a drop down list which contains list of urls and second thing.
-->
        <input type = submit class = btn btn-primary value = "Check-schema"> 
        </form>
    </fieldset>

    </div>
    </section>
  
