{{template "header" .}}

<div class="container">

</div>

<section>
<div>
<fieldset>
<legend> Select URLs </legend>
<ul>
<li>qkids</li>
<li>chaufferus.us</li>
</ul>
</div>
<div>
<!--
we need a drop down list which contains list of urls and second thing.
-->
</div>
<input type = submit > 
</fieldset>
</div>
</section>

{{template "footer"}}
